apiVersion: v1
kind: PersistentVolume
metadata:
  name: mysql-pv
  labels:
    app: ambulance-app
spec:
  capacity:
    storage: 3Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: standard
  hostPath:
    path: /mnt/data/mysql
    type: DirectoryOrCreate
