apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  namespace: ambulance-app
  labels:
    app: mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql
        image: mysql:8.0
        ports:
        - containerPort: 3306
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: "Sid@9897"
        - name: MYSQL_DATABASE
          value: "ambulance"
        - name: MYSQL_ROOT_HOST
          value: "%"
        volumeMounts:
        - name: mysql-pv-storage
          mountPath: /var/lib/mysql
      volumes:
      - name: mysql-pv-storage
        persistentVolumeClaim:
          claimName: mysql-pvc
