apiVersion: v1
kind: Service
metadata:
  name: mysql-svc
  namespace: ambulance-app
  labels:
    app: mysql
spec:
  selector:
    app: mysql
  ports:
  - protocol: TCP
    port: 3306
    targetPort: 3306
