apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: ambulance-app-hpa
  namespace: ambulance-app
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: ambulance-app-deployment  # Must match the deployment name exactly
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 40
